@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgColorChange {
  0% { background-color: white; }
  25% { background-color: rgb(240, 197, 117); }
  50% { background-color: rgb(247, 247, 170); }
  75% { background-color: rgb(245, 84, 84); }
  100% { background-color: rgb(230, 184, 184); }
}

.bg-animate {
  animation: bgColorChange 5s infinite;
}